# Configuración de límites de carga para módulo FEMSA (Hasta 320MB por archivo)
<IfModule mod_php7.c>
    php_value upload_max_filesize 320M
    php_value post_max_size 320M
    php_value memory_limit 512M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>
<IfModule mod_php.c>
    php_value upload_max_filesize 320M
    php_value post_max_size 320M
    php_value memory_limit 512M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>
