
#
 version 5.20.99, Release 2222P11
#
 sysname SW-CC-ECB02
#
 clock timezone Bogota minus 05:00:00 
#
 irf mac-address persistent timer
 irf auto-update enable
 undo irf link-delay
#
 domain default enable system 
#
 password-recovery enable
#
vlan 1
 description default
#
vlan 70
 description WIFI-USUARIOS
#
vlan 80
 description WIFI-INVITADOS
#
vlan 90
 description WIFI-WH
#
vlan 100
 name TEL
#
vlan 110
 description WIFI-MOVILES
#
vlan 120
 description GESTION_WIFI_CONTROLADORA
#
vlan 130
 description WIFI-GV_Smart
#
vlan 190
#
vlan 900
 description SCADA
#
domain system 
 access-limit disable 
 state active 
 idle-cut disable 
 self-service-url disable 
#
user-group system
 group-attribute allow-guest
#
local-user admin
 password cipher $c$3$XJlaGY9s+7Rdtzj7Wh4bGmRDnD5jtC/3ATrjsOL6hlg0lw==
 authorization-attribute level 3
 service-type web
#
interface NULL0
#
interface Vlan-interface1
 ip address 192.168.24.51 255.255.255.0 
#
interface GigabitEthernet1/0/1
 description Puerto_Troncal
 port link-type trunk
 port trunk permit vlan all
#
interface GigabitEthernet1/0/2
#
interface GigabitEthernet1/0/3
#
interface GigabitEthernet1/0/4
#
interface GigabitEthernet1/0/5
#
interface GigabitEthernet1/0/6
#
interface GigabitEthernet1/0/7
#
interface GigabitEthernet1/0/8
#
interface GigabitEthernet1/0/9
#
interface GigabitEthernet1/0/10
#
interface GigabitEthernet1/0/11
#
interface GigabitEthernet1/0/12
#
interface GigabitEthernet1/0/13
#
interface GigabitEthernet1/0/14
#
interface GigabitEthernet1/0/15
#
interface GigabitEthernet1/0/16
#
interface GigabitEthernet1/0/17
#
interface GigabitEthernet1/0/18
 port link-type hybrid
 port hybrid vlan 1 untagged
#
interface GigabitEthernet1/0/19
#
interface GigabitEthernet1/0/20
 description Access_Point
 port link-type trunk
 port trunk permit vlan 1 70 80 90 110 120 130
 port trunk pvid vlan 120
#
interface GigabitEthernet1/0/21
#
interface GigabitEthernet1/0/22
#
interface GigabitEthernet1/0/23
#
interface GigabitEthernet1/0/24
#
interface GigabitEthernet1/0/25
 shutdown
#
interface GigabitEthernet1/0/26
 shutdown
#
interface GigabitEthernet1/0/27
 shutdown
#
interface GigabitEthernet1/0/28
 shutdown
#
 ip route-static 0.0.0.0 0.0.0.0 192.168.24.61
 ip route-static 172.20.109.20 255.255.255.252 172.20.109.21
#
 snmp-agent
 snmp-agent local-engineid 800063A203D07E28F353A8
 snmp-agent community read VilAs3caUnE 
 snmp-agent sys-info version v2c
#
 ntp-service unicast-server 190.15.128.72
 ntp-service unicast-server 201.159.221.66
#
 load xml-configuration 
#
user-interface aux 0
user-interface vty 0 15
#
return